@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

html{
    font-family: 'Montserrat', sans-serif;
}

#main{
    margin: auto;
    text-align: center;
}
#main h1{
    font-weight: 300;
}

.WDT{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6%;
}
.WDT li{
    list-style-type: none;
    justify-content: baseline;
}

.WDT ul{
    text-align: justify;
}