@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800i&effect=anaglyph|3d');


::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
}
  ::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}
  :-ms-input-placeholder { 
    font-family: 'Montserrat', sans-serif;
}
  :-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
}

html{
    min-height: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url('https://newe.space/images/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
}

a.navbar{
    text-decoration: none;
    color: #ff7b00;
}

#navcontainer{
    position: sticky;
}

#navcontainer{
    background-color: #333;
    overflow: hidden;
    top: 0;
    bottom: 0;
}
ul.navbar{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.navbar li:not(.login) {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

ul.navbar li a:hover {
    background-color: #111;
    cursor: pointer;
}

ul.navbar li.active {
    background-color: #ff7b00;
}

.top{
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#projmain{
    clear: both;
    text-align: center;
    background-color: hsla(0, 100%, 50%, 0.5);
    z-index: 1;
        
}

#projmain #inner{
    color: whitesmoke;   
    font-weight: 800;  
}

#projmain #inner h1{
    font-size: 1000%;
    animation: breathe 2s infinite ease-in-out;
    animation-direction: alternate;
}

#projmain #inner p{
    font-size: 240%;
    padding-bottom: 10px;
}

#projgo{
    text-align: center;
    background-color: #111111a6;
    color: white;
    font-size: 150%;  
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

#projgo p{
    padding-top: 10px;
    margin-bottom: 0;
}

#content{
    position: relative;
    display: inline-block; 
    text-align: center;
    justify-content: center;
    align-content: center;
    vertical-align: baseline;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.842)
}

#content p{
    font-size: 120%;
    padding-top: 40px;
    box-sizing: content-box;
}

#content a{
    box-sizing: content-box;
}

#contentinner{
    padding: 15px 0 15px 0;
}

.boite{
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.301);
    margin: 30px 50px 50px 50px; 
    display:inline-block;
    text-align: center;
    justify-content: center;
    padding: 30px 50px 10px 50px;
    border: 3px thin rgb(77, 77, 77);
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    transition: transform .4s ease;
}

div.boite i{
    border-radius: 50%; 
    width: 200px; 
    border:5px solid white;
    color: red;

}

div.boite a {
    margin: 0 0 1rem 0;
    text-decoration: none;
}

div.boite p{
    font-weight: 600;
}

.zoomh:hover{
    transform: scale(1.17);
    box-shadow: 0px 0px 8px rgb(255, 0, 0);
}

footer{
    background-color: #111111;
    color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

footer h1, p{
    margin-left: 18px;
}

footer h1{
    padding-top: 10px;
}


#footersec{
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
}

.copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.6;
    padding: 2rem 0;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    bottom: 0;
}

#links{
    position: relative;
    top: 45px;
    left: 10px;
}

#links i{
    color: lightgray;
    margin: 0px 7px 0px 7px;
}

#links i:hover{
    color: tomato;
}

@keyframes breathe{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}